
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.vidoverlay {
  position: fixed;
  mix-blend-mode: screen;
  opacity: 50%;
}





.graffiti {
  font-family: "LaachirDeeper", sans-serif
}

#overlay-toggle {
  position:absolute;
  display: none;
}

.overlay {
  z-index: 1;
  background-color: #000001;
}

.overlay label {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vw;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.no-hover {
  display: block;
}

.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  min-width: 100vw;
}

body {

  background-color:#000001!important;
  color:#fff!important
}

.hover {
  text-decoration:none;
  color:gray!important;
  transition:.4s!important;
}

.hover:hover {
  transition:.4s!important;
  color:#fff!important
}

span::before {
  content:'\A';
  white-space:pre
}

#center {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%)
}

#overlay-toggle:checked ~ .overlay {
  animation-fill-mode: forwards;
  animation-name: fade, hide;
  animation-delay: 0s, 600ms;
  animation-duration: 600ms, 1ms;
}

#overlay-toggle:checked ~ .overlay label {
  animation-fill-mode: forwards;
  animation-name: fade;
  animation-delay: 0s;
  animation-duration: 500ms;
}

#canvas-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@font-face {
  font-family: "LaachirDeeper-Bold";
  src: url(../fonts/R67jRUQgEqo4.ttf);
}

@media(hover: hover) {
  .overlayhover {
    display: block;
  }
  .overlayno-hover {
    display: none;
  }
}

@keyframes fade{
  to {
    opacity: 0;
  }
}

@keyframes hide {
  to {
    visibility: hidden;
  }
}